#**Solve the following problems**
**1. Write a function to print your name and department.**

In [3]:
def print_name_dept():
    print("Name: Anbuselvi")
    print("Department: Computer Science")
print_name_dept()

Name: Anbuselvi
Department: Computer Science

**2. Write a function to print your name and department repeatedly n times.**

In [4]:
def print_name_dept_n(n):
    for _ in range(n):
        print_name_dept()
print_name_dept_n(3)

Name: Anbuselvi
Department: Computer Science
Name: Anbuselvi
Department: Computer Science
Name: Anbuselvi
Department: Computer Science

**3. Write a function to calculate the simple interest. Suppose the customer is a senior citizen he is offered 12% rate of interest and for all others 10% annually.**

In [7]:
def simple_interest(principal, time, senior_citizen=False):
    rate = 12 if senior_citizen else 10
    si = (principal * rate * time) / 100
    return si
print("Simple Interest:", simple_interest(25000, 2, senior_citizen=True))

Simple Interest: 6000.0

**4. Write a function that will convert a Total mark into a grade with rule as mark being >90 is 'O', 89 - 80 is A, 79-70 is B, 69-60 is C, 59-50 is D and <50 is RA.**

In [8]:
def grade_from_marks(mark):
    if mark > 90:
        return 'O'
    elif mark >= 80:
        return 'A'
    elif mark >= 70:
        return 'B'
    elif mark >= 60:
        return 'C'
    elif mark >= 50:
        return 'D'
    else:
        return 'RA'
print("Grade:", grade_from_marks(92))

Grade: O

**5. Write a function that will print the factors greater than 1 for the given number as argument.**

In [9]:
def print_factors(n):
    print(f"Factors of {n} greater than 1:")
    for i in range(2, n+1):
        if n % i == 0:
            print(i, end=' ')
    print()
print_factors(32)

Factors of 32 greater than 1:
2 4 8 16 32

**6. Write a function to calculate the GCD of given number.**

In [11]:
def gcd(a, b):
    while b:
        a, b = b, a % b
    return a
print("GCD:", gcd(14, 56))

GCD: 14

**7. Write a function to calculate the LCM of two given numbers.**

In [12]:
def lcm(a, b):
    return abs(a * b) // gcd(a, b)
print("LCM:", lcm(25, 40))

LCM: 200

**8. Write a function logic_gate(gate,a,b) which takes the gate, first truth value (a), second truth value (b) as input arguments and returns the result.**

In [13]:
def logic_gate(gate, a, b):
    gate = gate.lower()
    if gate == "and":
        return a and b
    elif gate == "or":
        return a or b
    elif gate == "xor":
        return a != b
    elif gate == "nand":
        return not (a and b)
    elif gate == "nor":
        return not (a or b)
    else:
        return "Invalid gate"
print("Logic Gate (AND, False, False):", logic_gate("and", True, False))

Logic Gate (AND, False, False): False

**9. Write a menu driven program using functions to perform calculator operations such as to Add, Sub, Multiply and Divide two integers.**

In [14]:
def calculator():
    print("\n--- Simple Calculator ---")
    a = int(input("Enter first number: "))
    b = int(input("Enter second number: "))
    print("1.Add  2.Subtract  3.Multiply  4.Divide")
    choice = int(input("Enter choice: "))
    if choice == 1:
        print("Sum =", a + b)
    elif choice == 2:
        print("Difference =", a - b)
    elif choice == 3:
        print("Product =", a * b)
    elif choice == 4:
        if b != 0:
            print("Quotient =", a / b)
        else:
            print("Division by zero not allowed")
    else:
        print("Invalid choice")
calculator()

--- Simple Calculator ---
Enter first number: 53
Enter second number: 27
1.Add  2.Subtract  3.Multiply  4.Divide
Enter choice: 2
Difference = 26

**10. Write a function check_prime(n), which takes a number n as argument and returns True if n is prime and False otherwise.**

In [15]:
def check_prime(n):
    if n < 2:
        return False
    for i in range(2, int(math.sqrt(n)) + 1):
        if n % i == 0:
            return False
    return True
print_factors(62)

Factors of 62 greater than 1:
2 31 62

**11. Write a function find_factorial(n) which returns the factorial of a given n as input argument.**

In [19]:
import math
def find_factorial(n):
    return math.factorial(n)
find_factorial(6)

720

**12. Write a function check_palindrome(n), which takes a number n as argument and returns True if n is palindrome and False otherwise.**

In [20]:
def check_palindrome(n):
    return str(n) == str(n)[::-1]
check_palindrome(12121)

True

**13. Write a function check_armstrong(n), which takes a number n as argument and returns True if n is armstrong (1**3+5**3+3**3=153)and False otherwise.**

In [21]:
def check_armstrong(n):
    digits = str(n)
    power = len(digits)
    return sum(int(d)**power for d in digits) == n
check_armstrong(153)

True

**14. Write a function check_krishnamoorthy(n), which takes a number n as argument and returns True if n is Krishnamoorthy number (1! + 4! + 5! = 145) and False otherwise.**

In [22]:
def check_krishnamoorthy(n):
    return sum(math.factorial(int(d)) for d in str(n)) == n
check_krishnamoorthy(145)

True

**15. Write a function generate_prime(a,b), which takes the range a and b as argument and prints the number as said.**

In [23]:
def generate_prime(a, b):
    print(f"Prime numbers between {a} and {b}:")
    for i in range(a, b + 1):
        if check_prime(i):
            print(i, end=' ')
    print()
generate_prime(1, 50)

Prime numbers between 1 and 50:
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47

**16. Write a function generate_armstrong(a,b), which takes the range a and b as argument and prints the number as said.**

In [24]:
def generate_armstrong(a, b):
    print(f"Armstrong numbers between {a} and {b}:")
    for i in range(a, b + 1):
        if check_armstrong(i):
            print(i, end=' ')
    print()
generate_armstrong(100, 500)

Armstrong numbers between 100 and 500:
153 370 371 407

**17. Write a function generate_krishnamoorthy(a,b), which takes the range a and b as argument and prints the number as said.**

In [25]:
def generate_krishnamoorthy(a, b):
    print(f"Krishnamoorthy numbers between {a} and {b}:")
    for i in range(a, b + 1):
        if check_krishnamoorthy(i):
            print(i, end=' ')
    print()
generate_krishnamoorthy(1, 500)

Krishnamoorthy numbers between 1 and 500:
1 2 145

**18. Write a function to calculate how many days you have lived so far given date of birth and present date.**

In [27]:
from datetime import date

def days_lived(dob, today):
    delta = today - dob
    return delta.days

date_of_birth = date(2003, 6, 26)
current_date = date(2025, 11, 3)

# Calculate the days lived
total_days = days_lived(date_of_birth, current_date)

print(f"Date of Birth: {date_of_birth}")
print(f"Current Date: {current_date}")
print(f"Total days lived: {total_days}")

Date of Birth: 2003-06-26
Current Date: 2025-11-03
Total days lived: 8166

**19. Write a function to find the sum of series 1+x**2/2 + x**3/3+...+x**n/n given x and n as input arguments.**

In [28]:
def sum_series1(x, n):
    s = 1
    for i in range(2, n + 1):
        s += (x ** i) / i
    return s
sum_series1(2, 5)

16.066666666666666

**20. Write a function to find the sum of series 1+x*2/2! + x*3/3!+...+x*n/n! given x and n as input arguments.**

In [29]:
def sum_series2(x, n):
    s = 1
    for i in range(2, n + 1):
        s += (x ** i) / math.factorial(i)
    return s
sum_series2(2, 5)

5.266666666666667